* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-before {
    max-height: 100vh;
    max-width: 100vw;
}


.slider {
    display: flex;
    flex-direction: column;
}